$clear-sky-dark: #ffdb4e;
$few-clouds-dark: #03b9a5;
$scattered-clouds-dark: #3e93b2;
$broken-clouds-dark: #3e93b2;
$shower-rain-dark: #6fd4fb;
$rain-dark: #24a0cd;
$thunderstorm-dark: #0a465d;
$snow-dark: #74a3de;
$mist-dark: #919494;
$clear-sky-light: #ff9872;
$few-clouds-light: #30eceb;
$scattered-clouds-light: #44edec;
$broken-clouds-light: #44edec;
$shower-rain-light: #6fd4fb;
$rain-light: #6fd4fb;
$thunderstorm-light: #61a1ba;
$snow-light: #dcedf4;
$mist-light: #d6d8d9;
